@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap');
/*- Общие */
*{
    margin: 0;
    padding: 0;
   
}

body{
    font-family: "Manrope", sans-serif;
    background-color: #FFFAF8;
    padding: 0;
    margin:0;
    color:#313131;
    
}

.header_logo{
    width: 59px;
    height: 36px;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1120px;
    margin: auto;

}

h1{
    font-size: 50px;
    color:#313131;
}

/*- Хедер */

.header{
    padding: 20px;
}

.header .container{
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #B2B2B2;   
}

.header_list{
    display: flex;
    gap:15px; 
    margin-left: 326px;
}

.header_list a {
    font-size: 16px;
    color:#313131;
}

/*- Хлебные крошки */

.breadcrumb_list a{
    font-size: 14px;
    color:#313131;
}

.breadcrumb_list{
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}

/*- Первая секция */

.company_news_block_1{
    width:1120px;
    height: 461px;
    background-image: url("./Графика/company_news_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    gap:5px;
    justify-content: flex-end;
    padding-left: 26px;
    padding-bottom: 20px;
    margin-bottom: 100px;
}

.title_1{
    font-size: 85px;
    color:#FFFFFF;
    

}

.description_1{
    width:390px;
    color: #FFFFFF;
   
}

/*- Вторая секция */

.data_type{
    display: flex;
    gap:10px;
}

.title_2{
    width:437px;
    font-size: 24px;
    color: #313131;
}

.link_title_2{
    display:flex;
    flex-direction: column;
    gap:10px;
    
}


.news_cards{

    padding: 20px 20px;
    border: 2px solid #E8EAEF; 
    font:50px;
    background-color: #E8EAEF;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    

    
}

.data_events{
    display:flex;
    justify-content: flex-start;
    gap:10px;
    
    
}

.title_news_cards{
    width:437px;
}

.title_icon_news{
    display: flex;
    flex-direction: column;
    gap:20px;
    

}

.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 276px 276px 276px 276px ;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-auto-flow: column;
    margin-bottom:100px;
}

.grid>div:nth-child(3){
    grid-row-start: 3;
    grid-row-end: 5;
}

.grid>div:nth-child(4){
    grid-row-start: 1;
    grid-row-end: 3;
}


/*Форма*/
.circle{
    height:5px;
    width: 5px;
    border-radius: 50%;
    background-color: #313131;
}

.point{
    color: #313131;
    margin-top: -10px;
}

.circle_point{
    display: flex;
    gap:10px;
}

input,textarea{
    border: none;
    border-bottom: 1px solid #0B63B5;
    background: #FFFAF8;
    display: flex;
    width: 720px;
    margin-bottom: 30px;
    min-height: 20px;
    max-height: auto;
}

.btn3{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0B63B5;
    color: #FFFFFF;
    font-size:16px; 
    border-radius: 5px;
    height: 40px;
    width: 188px;
}

.description_circle_point{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap:20px
}

.description_2{
    width: 282px;
    font-size: 14px;
    opacity: 50%;
}

.title_form{

    display: flex;
    flex-direction: column;
    gap:20px
   
}

.seven{
    margin-bottom: 200px;
}

.form_title_description{
    display: flex;
    gap:160px;
}

.form_section{
    margin-bottom: 200px;
}


/*- Футер */

footer{
    padding-top: 40px;
    height: 203px;
    background-color: #0B63B5;
}

.logo_description_2{
    display: flex;
    flex-direction: column;
    gap:60px
}

.description_3{
    font-size:14px;
    color: #fff;
    opacity: 50%;
    width: 282px;
}

.footer_list a,.contact_information,.contact_information a{
    font-size:14px;
    color:#fff;
}

.point_white{
    margin-top: -10px;
    color: #fff;
    opacity: 50%;
}

.circle_white{
    height:5px;
    width: 5px;
    border-radius: 50%;
    background-color: #ffffff;
}

.circle_point_white{
    display: flex;
    gap:10px;
}

.company_footer_list,.contacts{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.footer_company_contact{
    display: flex;
    gap:100px;
}

.logo_footer_company_contact{
    display: flex;
    gap:160px;
}